<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header_burger">
        <span></span>
    </div>
    <div class="header_bg ibg">
        <img src="images/dist/header/bg.jpg" alt="">
    </div>
    <div class="header_bg__map">
        <img src="images/dist/header/bg-map.png" alt="">
    </div>
    <h1 class="header_bg__logo">
        <span>GO</span>
        <span>SURF</span>
    </h1>
    <div class="header_panel">
        <div class="header_logo">
            <h2>
                <span>go</span>
                <span></span>
                <span>surf</span>
            </h2>
        </div>
        <div class="header_panel__items">
            <div class="header_panel__item">
                <img src="images/dist/header/1.svg" class="header_panel__item__img" alt="">
                <h3 class="header_panel__item__title">Surf</h3>
            </div>
            <div class="header_panel__item">
                <img src="images/dist/header/2.svg" class="header_panel__item__img" alt="">
                <h3 class="header_panel__item__title">Travel</h3>
            </div>
            <div class="header_panel__item">
                <img src="images/dist/header/3.svg" class="header_panel__item__img" alt="">
                <h3 class="header_panel__item__title">Sleep</h3>
            </div>
            <div class="header_panel__item">
                <img src="images/dist/header/4.svg" class="header_panel__item__img" alt="">
                <h3 class="header_panel__item__title">Shop</h3>
            </div>
        </div>
        <div class="header_panel__actions">
            <div class="header_panel__search">
                <img src="images/dist/header/Search.svg" alt="">
            </div>
            <div class="header_panel__data">
                <h3>20</h3>
                <p>
                    <span>06</span>
                    <span>2018</span>
                </p>
            </div>
            <div class="header_panel__location">
                <span>
                    <img src="images/dist/header/Location.svg" alt="">
                </span>
                <span>California</span>
            </div>
        </div>
    </div>
    <div class="header_content">
        <div class="header_mappoints">
            <div class="header_point"></div>
            <div class="header_point"></div>
            <div class="header_point"></div>
        </div>
        <div class="header_slider__btns">
            <button class="prev"><img src="images/dist/header/arrow.svg" alt=""></button>
            <button class="next"><img src="images/dist/header/arrow.svg" alt=""></button>
        </div>
        <div class="header_carousel">
            <div class="swiper-wrapper header_slider__wrapper">

                <div class="swiper-slide header_slide">
                    <div class="header_slide__inner">
                        <div class="header_slide__road">
                            <h3></h3>
                            <img src="images/dist/header/road 1.png" alt="">
                        </div>
                        <div class="header_slide__content">
                            <div class="header_slide__subtitle">
                                <h3>surf</h3>
                            </div>
                            <div class="header_slide__title">
                                <h2>North Shore</h2>
                            </div>
                            <div class="header_slide__subtitle">
                                <h3>condition</h3>
                            </div>
                            <div class="header_slide__footer">
                                <h2>Radical</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide header_slide">
                    <div class="header_slide__inner">
                        <div class="header_slide__road">
                            <h3></h3>
                            <img src="images/dist/header/road 1.png" alt="">
                        </div>
                        <div class="header_slide__content">
                            <div class="header_slide__subtitle">
                                <h3>surf</h3>
                            </div>
                            <div class="header_slide__title">
                                <h2>South Shore</h2>
                            </div>
                            <div class="header_slide__subtitle">
                                <h3>condition</h3>
                            </div>
                            <div class="header_slide__footer">
                                <h2>Radical</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide header_slide">
                    <div class="header_slide__inner">
                        <div class="header_slide__road">
                            <h3></h3>
                            <img src="images/dist/header/road 1.png" alt="">
                        </div>
                        <div class="header_slide__content">
                            <div class="header_slide__subtitle">
                                <h3>surf</h3>
                            </div>
                            <div class="header_slide__title">
                                <h2>East Shore</h2>
                            </div>
                            <div class="header_slide__subtitle">
                                <h3>condition</h3>
                            </div>
                            <div class="header_slide__footer">
                                <h2>Radical</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide header_slide">
                    <div class="header_slide__inner">
                        <div class="header_slide__road">
                            <h3></h3>
                            <img src="images/dist/header/road 1.png" alt="">
                        </div>
                        <div class="header_slide__content">
                            <div class="header_slide__subtitle">
                                <h3>surf</h3>
                            </div>
                            <div class="header_slide__title">
                                <h2>west shore</h2>
                            </div>
                            <div class="header_slide__subtitle">
                                <h3>condition</h3>
                            </div>
                            <div class="header_slide__footer">
                                <h2>Radical</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="header_slider__navigation">
            <div class="header_slider__dot">
                <div class="header_slider__dot__line"></div>
                <div class="header_slider__dot__text">
                    <div class="header_slider__dot__number">01</div>
                    <div class="header_slider__dot__city">North Shore</div>
                </div>
            </div>
            <div class="header_slider__dot">
                <div class="header_slider__dot__line"></div>
                <div class="header_slider__dot__text">
                    <div class="header_slider__dot__number">02</div>
                    <div class="header_slider__dot__city">South Shore</div>
                </div>
            </div>
            <div class="header_slider__dot">
                <div class="header_slider__dot__line"></div>
                <div class="header_slider__dot__text">
                    <div class="header_slider__dot__number">03</div>
                    <div class="header_slider__dot__city">East Shore</div>
                </div>
            </div>
            <div class="header_slider__dot">
                <div class="header_slider__dot__line"></div>
                <div class="header_slider__dot__text">
                    <div class="header_slider__dot__number">04</div>
                    <div class="header_slider__dot__city">West Shore</div>
                </div>
            </div>
        </div>
        <button class="next">
            <img src="images/dist/header/arrow.svg" alt="">
        </button>
    </div>
</header>